body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
button,
input,
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button,
input {
  border: 1px solid black;
  background: #ffffff;
}

#root {
  padding: 0 10px;
  margin: 0 auto;
  max-width: 420px;
}

/* Home */
.play {
  margin: 20px 0;
  padding: 1rem;
  font-size: 20px;
  font-weight: bold;
}

/* Session */
.session {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Player */
.players {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.players-two {
  flex-direction: column;
}

.player {
  flex-basis: 100%;
  background: red;
  position: relative;
}

.players-two .player,
.players-vertical .player {
  flex-basis: 50%;
}

.players-two .player:nth-child(odd) {
  transform: rotate(180deg);
}

/* Below this ain't working */
.players-vertical .player .player-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.players-vertical .player:nth-child(odd) .player-content {
  transform: rotate(90deg);
}

.players-vertical .player:nth-child(even) .player-content {
  transform: rotate(-90deg);
}

/* Range */
.range {
  margin: 0 0 30px;
}

.range-container {
  display: flex;
  height: 50px;
}

.range-name {
  text-align: center;
  font-size: 20px;
}

.range-button,
.range-input {
  width: 50px;
  margin: 0 5px;
}

.range-button:first-child {
  margin-left: 0;
}

.range-input {
  text-align: center;
}

.range-button--current,
.range-input--current {
  color: #ffffff;
  background: #222222;
}
