:root {
  --background-color: #ffffff;
  --accent-color: #000000;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

body,
button,
input,
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  color: var(--accent-color);
}

button,
input {
  border: 1px solid var(--accent-color);
  background: var(--background-color);
}

#root {
  padding: 0 10px;
  margin: 0 auto;
  max-width: 420px;
}

/* ThemeSwitch */
.theme-switch {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 20;
  height: 50px;
  width: 50px;
  background-image: url('./assets/light.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.theme-switch.dark {
  background-image: url('./assets/dark.svg');
}

/* Home */
.play {
  margin: 20px 0;
  padding: 1rem;
  font-size: 20px;
  font-weight: bold;
}

/* Session */
.session {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--background-color);
}

.horizontal-prompt {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: var(--background-color);
}

.horizontal-prompt--text {
  text-align: center;
  margin: 66% 1rem;
}

@media screen and (min-width: 568px) {
  .horizontal-prompt {
    display: none;
  }
}

/* Player */
.players {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.players-two,
.players-vertical {
  flex-direction: column;
}

.player {
  flex-basis: 100%;
  position: relative;
}

.players-two .player,
.players-vertical .player {
  flex-basis: 50%;
}

.players-two .player:nth-child(odd),
.players-vertical .player:nth-child(odd) {
  transform: rotate(180deg);
}

.players-two .player .player-content,
.players-vertical .player .player-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.player-content {
  height: 100%;
  box-sizing: border-box;
  border: 1px dashed var(--accent-color);
}

.player-name {
  text-align: center;
  height: 10%;
  font-size: 1rem;
  margin: 1em auto;
  display: block;
}

.player-name.hidden {
  display: none;
}

input.player-name {
  height: 1rem;
}

.player-life {
  height: 90%;
  position: relative;
}

.player-life--display {
  font-size: 3rem;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.player-life--action {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
}

.player-life--action-add {
  right: 0;
}

.player-life--action-subtract {
  left: 0;
}

.player-life--action-add::before,
.player-life--action-subtract::before {
  position: absolute;
  top: 35%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
}

.player-life--action-add::before {
  content: '+';
  left: 60%;
}

.player-life--action-subtract::before {
  content: '-';
  left: 40%;
}

/* Range */
.range {
  margin: 0 0 30px;
}

.range-container {
  display: flex;
  height: 50px;
}

.range-name {
  text-align: center;
  font-size: 20px;
}

.range-button,
.range-input {
  width: 50px;
  margin: 0 5px;
}

.range-button:first-child {
  margin-left: 0;
}

.range-input {
  text-align: center;
}

.range-button--current,
.range-input--current {
  color: var(--background-color);
  background: var(--accent-color);
}
